<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ewaiter.android.e_waiter">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="E-Waiter"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ChefWaiterSelectActivity"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TablesSelectActivity"
            android:label="Waiter Module" />
        <activity
            android:name=".MenuCategorySelectActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".AddItem"
            android:label="Add Item" />
        <activity
            android:name=".Chinese"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Starters"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Beverages"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".SouthIndian"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Salads"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".MainCourse"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Breads"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Desserts"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".OrderDetails"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ChefActivity"
            android:label="Chef Module" />

        <provider
            android:name=".data.MenuItemProvider"
            android:authorities="com.ewaiter.android.e_waiter"
            android:exported="false" />

        <activity
            android:name=".Cart"
            android:label="My Cart" />
        <activity
            android:name=".OrderTotalCheckOut"
            android:label="E-Bill"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".PaymentOptions"
            android:label="Payment Options"/>
        <activity android:name=".PaytmQR"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>
    </application>

</manifest>